rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{uid} {
      allow read: if uid == request.auth.uid || get(/databases/$(database)/documents/users/$(request.auth.uid)).data.level < 5;
      allow create: if false;
      allow update: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.level < 4;
      allow delete: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.level == 0;
    }
  }
}